<footer class="footer">
    <div class="footer-content">
        <a href="https://www.facebook.com/share/194u8AgBzK/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/vicky_k99056/"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
    </div>
</footer>