<% layout('/layout/boilerplate') -%>

<body>
    
</body>
    <h1>About....</h1>
    <br>
    <br>
    <div>
       <form action="/about" method="post"> 
          <textarea placeholder="Write something about yourSelf" class="aboutinput" name="about"></textarea>
          <br>
          <br>
          <button type="Submit">Submit</button>
       </form>
     </div>
    </body>
    

