<% layout('/layout/boilerplate') -%>
  



     <div class="containermain">
           
               <div class="my-self">
                  <h5>Hello, it's me</h5>
                  <h1>vicky kumar</h1>
                  <h5 class="full">and i am a <b id="full-stack">full stack web-developer</b></h5>
                  <p class="more">!! I know DSA with java and also know computer network, database management system and more .....</p>
                  <br>
                  <form method="get" action="/more-details">
                     <button class="more-about-me">More about me</button>
                  </form>
               </div>
               <div class="my-photo"></div>
          
     </div>

     

