<% layout('/layout/boilerplate') -%>

<style>
    body {
        background-color: rgb(52, 51, 51);
        color:white;
    
        
    }

    .container {
        display: flex;
        justify-content: center;
        height : 150vh;
        
    }

    .details {
        width : 600px;
        text-align: center;
        box-shadow:  1px 3px 20px aqua;
        border-radius: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
</style>
<body>
    <div class="container">
      <div class="details"> 
        <h3><u><b>!! More details !!</b></u></h3>
        <br>
        <p>* I am vicky kumar from bihar. I have complated 10th in 2021 from bihar.
             I have complated 12th in 2023 from bihar. 
             I am pursing my BE(computer science of engineering) in sengunthar engineering college tiruchengode(tamilnadu).
             My family consists of five members.
             My father is vinod sah and he is a farmer.
             My mother name kashmira devi and he is a house maker.
             My short turm goal is get a job any company and my long turm goal is achieve good position.
             My hobbies are playing chess and watching  movies.</p>
        <p>* 1. Technical Skills:- 
            ( Programming Language :- HTML, CSS, Javascript, Java with DSA) 
            , (Tools & Frameworks :- React, Nodejs, Bootstrap, Git and github) 
            and (Databases :- MySQL, MongoDB). 
            2. Soft Skills :- Communication , Teamwork, Time management.
             3. Language Skill :- Hindi, English.
             4. other :- dbms, oops, operating system , computer network</p>
        <p>* I have make two project.
             I have make two project. My first project name 
             is Online Home Rental platform and Developed a 
             full-feature online platform for home rental 
             enabling users to list, search and booking properties 
             across locations - HTML,CSS,JavaScript,node.js with
             express, MongoDB, Bootstrap, Cloudinary. and  second
             project is APIs based weather application this website
             is APIs based application for real-time information
             with additional functionality - React, HTML,CSS, Node.js
             with express, bootstrap, MongoDB. </p>
             
      </div>
    </div>
</body>
