<% layout('/layout/boilerplate') -%>

<body>
    
</body>
    <h1>Skill....</h1>
    <br>
    <br>
    <div>
       <form action="/skill" method="post"> 
          <textarea placeholder="Write something skill yourSelf" class="skillinput" name="skill"></textarea>
          <br>
          <br>
          <button type="Submit">Submit</button>
       </form>
     </div>
    </body>
    