<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
              background-color: rgb(52, 51, 51);
              color: white;
       }
       .skillinput {
              width : 600px;
              height: 350px;
              margin-left: 5rem;
              box-shadow: 1px 3px 20px aqua;
              font-size: 1rem;
              border-radius: 8px;
       }

       .btn {
              margin-left: 5rem;
              background-color: aqua;
              border-radius: 10px;
              color:white;
              box-shadow: 1px 2px 10px aqua;
              border: none;
       }
</style>
<body>
       <h1>Welcome to the Edit page</h1>
       <br>
       <form action="/skilldata/<%= skilldata._id %>?_method=PUT" method="post">
              <textarea name="skill" class="skillinput"><%= skilldata.skill %></textarea>
              <button class="submit btn btn-primary">submit</button>
       </form>
</body>
</html>