body {
    background-color: rgb(52, 51, 51) !important;
    color:white !important;
    
}

/* body */

.container {
    height : 100%;

}

/* navbar */

.navbar {
    height: 4rem;
    background-color: rgb(52, 51, 51);
}

.nav-link {
    color:white !important;
    margin-left: 3rem;
}

.navbar-brand {
    color: aqua !important;
    
}

/* footer */

.footer-content {
    border-top : 1px solid white;
    width: 100%;
    height: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    margin-left: 2rem;
    color: aqua;
}



/* main */ 

.containermain {
    margin-top: 5px;
    height: 400px;
    margin-bottom: 4rem;
    display:flex;
    
}

.container-inner {
    margin-top: 8px;
    display:flex;
}

.my-self {
    height:200px;
    width:350px;
    margin-left: 5rem;
    margin-top: 45px;
}

.my-photo {
    margin-top: 60px;
    height: 200px;
    width:200px;
    border-radius: 50%;
    margin-left: 15rem;
    box-shadow: 1px 5px 100px aqua;
    background-image: url(../photo.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;  
}

.full {
    display: inline-block;
    overflow: visible;
      height: 2rem;
}

#full-stack {
    animation-name: full-stack;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: inline-block;
    overflow: visible;
      height: 2rem;
      color:rgb(52, 51, 51);
}

@keyframes full-stack {
    from {color: rgb(52, 51, 51);}
    to {color: aqua;}
}

.more {
    font-family:'Times New Roman', Times, serif;
    font-size: 0.8rem;
}

.more-about-me {
    background-color: aqua;
    color: white;
    border-radius: 10rem;
    font-size: 10px;
    border:none;
    box-shadow: 1px 3px 20px aqua;

}

/* about  */

.aboutinput {
    width:600px;
    height : 200px;
}

.skillinput {
    width:600px;
    height : 200px;
}

.projectinput {
    width:600px;
    height : 200px;
}

.showabout {
    
    width : 600px;
    height: 400px;
    box-shadow: 1px 5px 25px aqua;
    border-radius: 5px;
    margin-bottom: 2rem; 
}



.about-edit {
    margin-left: 7rem;
    margin-top:18rem;
    display: flex;

}

.a  {
    margin-left: 2rem;
    color: aqua !important;
}

.btn {
  background-color: aqua !important;
}







